body{
    background-color: rgb(252, 1, 1);
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
}
h1{font-family: 'Akira Expanded', sans-serif;color: white;
text-align: center;font-size: 20px}
h3{font-family: 'Akira Expanded', sans-serif;color: white;text-align: center;font-size: 20px}
h2{font-family: 'Akira Expanded', sans-serif;color: white;font-size: 20px}
ul{font-family: Verdana, Geneva, Tahoma, sans-serif;color: white;font-size: 20px;

}

button{
    font-size: 1.03em;
    font-family: 'Akira Expanded', sans-serif;
    border-radius: 10px;
    box-shadow: 2px 2px 10px;
}
button:hover{
    background-color: rgb(238, 255, 0);
 
}
p{
   font-family: Verdana, Geneva, Tahoma, sans-serif; color: white;font-size: 20px;
   text-shadow: 5px;             
}
.containter{
    max-width: 1400px;
    margin: auto;
}
header{
    font-family: 'Akira Expanded', sans-serif;

}
header .logo{
    margin: 0;
    padding: 25px 30px ;
    font-family: 'Akira Expanded', sans-serif;
    color: white;
    font-size: 5em;
    text-align: center;
}
header .containter{
    display: flex;
    flex-direction: row;
    align-items: center;

}
header a{
    color: white;
    text-decoration: none;
}
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    height: 90vh;
    background-image:url(https://images.squarespace-cdn.com/content/v1/541f5207e4b0256ed582f7a4/1462583118278-LYVSGFXBMHEMQTBVU3JR/L1006552.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
     
}
.containter{
text-align: center;
padding: 10px 12px;
}
#carta{
    background-image: url(https://images.squarespace-cdn.com/content/v1/5f671df0a8bb27323e577233/1603270268853-QVBP0CDM533E7BO7LY9A/Kendo+-+Tokyo+Portrait+Photographer+-+Anthony+Wood.jpg);
    background-position: 0px -200px;
    background-size: cover;
    padding: 100px;
}
#carta2{
    background-image: url(https://media.istockphoto.com/id/1249405743/photo/demonstration-of-iai-dou.jpg?s=612x612&w=0&k=20&c=6u0dfIQ6q51_nU9s67fMAA-TcTn5OiCO-Ywiwc02jeg=);
background-position: 0px -300px;
background-size: cover;
padding: 100px;
}
#carta3{
    background-image: url(https://cdn.pixabay.com/photo/2019/02/24/22/33/aikido-4018646_960_720.jpg);
    background-position: 0px -400px;
    background-size: cover;
    padding: 100px;
}
form{
    border-radius: 2em;
    text-align: center;
    display: grid;
    grid-gap: 0.3rem;
    padding: 3%;
    

}
input{
    padding: 1rem;
}
textarea{
border-radius: 1em;
}
nav{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .menulogo{
        color: white;
        width: 140px;
        margin-left: 20px;
    }
    .bar-btn{
        font-size: 25px;
        color: white;
        margin-right: 20px;
        cursor: pointer;
    }
    .nav-menu{
        position: fixed;
        width: 100%;
        height: 0vh;
        top: 200px;
        background: red;
        text-align: center;
        transition: all .5s;
    }
    .nav-menu li {
        display: none;
        line-height: 30px;
        margin: 50px 0;
        transition: all .5s;
    }
.nav-menu li a{
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    font-family:'Akira Expanded', sans-serif;
}
.nav-menu li a.active, .nav-menu li a:hover{
    color: yellow;
    transition: .3s;
}
#check{
    display: none;
}
#check:checked ~ .nav-menu{
    height: 100vh;
}
#check:checked ~ .nav-menu li {
    display: block;
}